<ion-header>
    <ion-toolbar color="dark" text-center>
    <ion-title>iconos</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button size="large" color="light">
     <ion-icon name="checkmark-circle" color="success"></ion-icon>
    </ion-button> 
    <ion-icon name="cash"></ion-icon>
    <ion-icon name="gift" slot="end"></ion-icon>
    <ion-button size="large" color="secondary" expand="block">
      <ion-icon name="desktop"></ion-icon>
    </ion-button>
    <ion-button size="large" color="danger">
      <ion-icon name="flame"></ion-icon>
    </ion-button>
    <ion-button size="large" color="primary">
      <ion-icon name="cloud"></ion-icon>
    </ion-button><br>
    <ion-icon name="notifications-outline"></ion-icon><br><br>
    <ion-button href="/home" color="primary"><ion-icon name="refresh"></ion-icon>&nbsp;Volver a home</ion-button>
  </div>
</ion-content>
