<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-title>
      Catálogo de ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button expand="block" href="/test-page">Botones</ion-button>
    <ion-button expand="block" href="/iconos">Iconos</ion-button>
    <ion-button expand="block" href="/inputs">Entradas de texto</ion-button>
    <ion-button expand="block" href="/botonfab">Boton fab</ion-button>
    <ion-button expand="block"></ion-button>
    <ion-button expand="block"></ion-button>

  </div>
</ion-content>
